* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 935px;
    width: 100%;
    margin-top: 32px;
}

/* Área do Celular */
.phones {
    background-image: url('https://www.instagram.com/static/images/homepage/phones/home-phones.png/1dc4a6328243.png');
    background-size: 468.32px 634.15px;
    flex-basis: 454.66px;
    height: 618.15px;
    margin-right: 32px;
}

.phones-display {
    margin: 27px 0 0 113px;
    position: relative;
}

.screen {
    height: 541px;
}

/* Responsividade: Esconde celular em telas menores que 875px */
@media (max-width: 875px) {
    .phones { display: none; }
}

/* Coluna de Login */
.auth-section {
    width: 350px;
}

.login-box, .signup-box {
    background-color: #fff;
    border: 1px solid #dbdbdb;
    padding: 10px 40px;
    text-align: center;
    margin-bottom: 10px;
}

.logo-container img {
    margin: 36px 0 12px;
    width: 175px;
}

.input-group {
    margin-bottom: 6px;
}

input {
    width: 100%;
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    padding: 9px 8px;
    font-size: 12px;
    color: #262626;
}

input:focus {
    border: 1px solid #a8a8a8;
    outline: none;
}

.login-btn {
    width: 100%;
    background-color: #0095f6;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 7px 0;
    font-weight: 600;
    font-size: 14px;
    margin-top: 8px;
    cursor: pointer;
}

/* Divisor 'OU' */
.divider {
    display: flex;
    align-items: center;
    margin: 18px 0;
}

.line {
    flex: 1;
    height: 1px;
    background-color: #dbdbdb;
}

.or-text {
    color: #8e8e8e;
    font-size: 13px;
    font-weight: 600;
    margin: 0 18px;
}

/* Link Facebook */
.facebook-login button {
    background: transparent;
    border: none;
    color: #385185;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.forgot-password {
    display: block;
    margin-top: 12px;
    font-size: 12px;
    color: #00376b;
    text-decoration: none;
    margin-bottom: 10px;
}

.signup-box {
    padding: 20px;
}

.signup-box p {
    font-size: 14px;
    color: #262626;
}

.signup-box a {
    color: #0095f6;
    text-decoration: none;
    font-weight: 600;
}

/* Seção Baixar APP */
.get-app {
    text-align: center;
}

.get-app p {
    margin: 10px 0;
    font-size: 14px;
}

.app-links img {
    height: 40px;
    cursor: pointer;
    margin: 0 4px;
}